@charset "UTF-8";
body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/w2.jpg.jsf?ln=template") no-repeat center center fixed;
	background-size: cover;
	margin:0;
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}

.ui-panel.center-panel,
.center-panel.ui-panel {
    background-color: rgba(0,0,0,0.9) !important;
    border-radius: 12px !important;
    padding: 1.25rem !important; 
    width: 480px;          
    max-width: 90%;
    margin: 0 auto !important;  
}

.ui-panel.center-panel .ui-panel-content,
.center-panel .ui-panel-content {
    background: transparent;
    padding: 0 !important; 
}


.center-panel {
    outline: 2px dashed rgba(0, 0, 0, 0.7); 
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}

.label-column {
   text-align: right;
   font-weight: bold;
   padding-right: 10px;
   vertical-align: middle;
   line-height: 1.5em;
}
.input-column {
    text-align: left;
    vertical-align: middle;
    width: 10px;
    padding-right: 15px;
    padding-top: 10px;
}


.ui-widget-content {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
    text-align: center;
}
.bottom-link {
    display: inline-block; 
    margin-bottom: 20px;
}

